<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="  
     http://www.springframework.org/schema/beans   
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
     http://www.springframework.org/schema/tx   
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
     http://www.springframework.org/schema/aop   
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
				<value>classpath:conf.properties</value>
			</list>
		</property>
	</bean>
	<bean id="SystemDataConfig" class="com.ah3nong.wd.system.SystemDataConfig" >
		<property name="siteUrl" value="${siteUrl}" />
		<property name="casUrl" value="${casUrl}" />
		<property name="passportUrl" value="${passportUrl}" />
		<property name="regUrl" value="${regUrl}" />
		<property name="editUserUrl" value="${editUserUrl}" />
		<property name="editUserAvatarUrl" value="${editUserAvatarUrl}" />
		<property name="loginUrl" value="${loginUrl}" />
		<property name="loginOutUrl" value="${loginOutUrl}" />
		<property name="importExcelUrl" value="${importExcelUrl}" />
	</bean>
</beans>
