
/* ”“≤‡—˘ Ω*/
.rightarea{width:286px;float:right; overflow:hidden;}

.denglu{ width:284px; border:#d0d0d0 1px solid; height:170px;}
.lg_form{ padding:20px 0 0 18px;}
.lg_form .textr1{ border:#C6C4C4 1px solid; height:20px; width:110px; line-height:20px; background:url(../images/loginbt_08.jpg);padding-left:3px;}
.lg_form .bt1{ background:url(../images/loginbt.jpg) no-repeat; width:56px; height:26px; cursor:hand;}

.r_tjzj{width:284px; border:#d0d0d0 1px solid; height:258px;margin-top:10px;}