


/* ==========================================================主题样式==========================================================*/
.main_body{ }
.main{width:998px; margin:0 auto;height:510px; border:#19a1fd 1px solid; background:url(../images/con_bg.jpg) repeat-x top #FFF;border-radius: 4px 4px 0 0;}
.main_contain{ width:998px; margin:0 auto; padding-top:10px;}
.main_nav{ width:900px; background:url(../images/info_icon_01.png) no-repeat left; margin:20px 0 0 30px; padding-left:30px; height:25px; }
.main_nav.register{ background:url(../images/info_icon_02.png) no-repeat left;}
.main_nav.findpwd{ background:url(../images/info_icon_03.png) no-repeat left;}

.logininfo_box{width:940px; margin:10px 0 0 30px;}

.textr1,.inputboder01,.inputboder02{ width:240px; height:25px; border:#9dc0d4 1px solid;border-radius:2px; background:url(../images/inputbg.jpg) repeat-x top; padding-left:6px; line-height:25px;}
.textr1_yzm,.inputboderyzm02,.inputboderyzm01{ width:80px; height:25px; border:#9dc0d4 1px solid;border-radius:2px; background:url(../images/inputbg.jpg) repeat-x top; padding-left:6px; line-height:25px;}
.textr2,.inputbodernc02,.inputbodernc01{ width:180px; height:25px; border:#9dc0d4 1px solid;border-radius:2px; background:url(../images/inputbg.jpg) repeat-x top; padding-left:6px; line-height:25px;}
.textr3,.inputbodertx02,.inputbodertx01{ width:320px; height:25px; border:#9dc0d4 1px solid;border-radius:2px; background:url(../images/inputbg.jpg) repeat-x top; padding-left:6px; line-height:25px;}

.inputboder01,.inputboderyzm01,.inputbodernc01,.inputbodertx01{ border:#fd8e03 1px solid;}
.inputboder02,.inputboderyzm02,.inputbodernc02,.inputbodertx02{ border:#9dc0d4 1px solid;}
.input_select{border:#9dc0d4 1px solid; width:160px;}

.yzmimg{ width:80px; padding-left:10px; padding-top:1px;}
.yzmtxt{padding-top:4px;}
.yzm{width:90px;}
.nc{width:190px;}
.errimg{ width:25px; height:15px;}
.errinfo{color:#ff3300;width:190px; line-height:17px;}
.okinfo{color:#339900;width:190px; line-height:17px;}
.check{ width:20px; height:30px; padding-top:3px;}
.checktxt{}

.btn1{ width:124px; height:41px; text-align:center; background:url(../images/btnbg_01.png) center top no-repeat;margin:20px 0 0 0px; }
.btn1 a{font-weight:bold; font-size:14px; color:#ffffff;display:inline-block;width:124px;line-height:41px;}
.btn1 a:hover{ background:url(../images/btnbg_01.png) center -41px no-repeat;color:#ffffff; text-decoration:none;line-height:41px;}

.btn2{ width:124px; height:41px; text-align:center; background:url(../images/btnbg_02.png) center top no-repeat;margin:20px 0 0 40px; }
.btn2 a{font-weight:bold; font-size:14px; color:#ffffff;display:inline-block;width:124px;line-height:41px;}
.btn2 a:hover{ background:url(../images/btnbg_02.png) center -41px no-repeat;color:#ffffff; text-decoration:none;line-height:41px;}

.btn3{ width:211px; height:41px; text-align:center; background:url(../images/btnbg_03.png) center top no-repeat;margin:20px 0 0 0; }
.btn3 a{font-weight:bold; font-size:14px; color:#ffffff;display:inline-block;width:211px;line-height:41px;}
.btn3 a:hover{ background:url(../images/btnbg_03.png) center -41px no-repeat;color:#ffffff; text-decoration:none;line-height:41px;}

.btn4{ width:64px; height:19px; text-align:center; background:url(../images/btnbg_04.png) center top no-repeat; margin:5px 8px; }
.btn4 a{font-size:12px; color:#0a96e9;display:inline-block;width:64px;line-height:19px;}
.btn4 a:hover{ background:url(../images/btnbg_04.png) center -19px no-repeat;color:#0a96e9; text-decoration:none;line-height:19px;}

.btn5{ width:92px; height:31px; text-align:center; background:url(../images/btnbg_05.png) center top no-repeat; }
.btn5 a{font-size:14px; color:#fff;display:inline-block;width:92px;line-height:31px;}
.btn5 a:hover{ background:url(../images/btnbg_05.png) center -31px no-repeat;color:#fff; text-decoration:none;line-height:31px;}
.reg_right{ background:url(../images/line1.jpg) no-repeat left; width:300px; height:390px;}
.reginfo{ margin:50px 0 0 40px; }


.login_form{ padding:5px 0 0 18px; width:350px; background:url(../images/nft_login.jpg) no-repeat; height:316px;}
.login_form .textr1{ border:#C6C4C4 1px solid; height:30px; width:180px; line-height:30px; font-size:14px; color:#4d4d4d; padding:2px 0 0 6px;}


.login_form .bt1{ background:url(../images/loginbtn.jpg) no-repeat; width:90px; height:35px; cursor:hand;}

.fon14{font-size:14px; color:#4d4d4d; line-height:30px;}


